<%# <h1>
  ここでちゃんと反応するかな？
</h1>
<p class="page_index_p_title" class="page_index">Find me in app/views/page/index.html.erb</p> %>

<!-- Rendered by vue JS -->
<!-- // Rendered by vue JS -->
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>